.section
{
    min-height: 100vh;
    padding: 1rem 9%;
    padding-top: 8rem;
}

.home
{
    background: url(cancer\ image/cancer.jpg) no-repeat;
    background-size: cover;
    background-position:center;
    position: relative;
    width: 100%;
    height: 80vh;
}

.home .cont
{
    text-align: center;
    padding-top: 10rem;
}

.home .cont h1
{
   
margin-top: 2%;
    font-size: 3.55rem;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 3px #ffffff, 0 0 5px #ffffff;
    
    
}



.btn
{
    
    display: inline-block;
    padding: .7rem 3rem;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    border-radius: 40px;
    box-shadow: #111;
    margin-top: 2rem;
    font-size: 1.7rem;
    text-decoration: none;
    


   
}


.btn:hover
{
    background: #f4f4f8;
    color: #050801;
    box-shadow: 0 0 5px #ffffff,
                0 0 20px rgb(255, 255, 255),
                0 0 15px #ffffff,
                0 0 50px #ffffff ;
  
  
    
    
}


.about
{
  background:#fff;
}

.heading
{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #111;
  margin-top: 20px;
}

.heading h2
{
  font-weight: 700;
  font-size: 40px;
  color:#111;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}


.content
{
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.contentBx
{
  padding-right: 30px;
}

.contentBx p
{
  font-size: 24px;
  margin-bottom: 10px;
  color: #111;
  margin-left: -285px;
  margin-top: 20px;
 text-align: justify;
}


.w50
{
  max-width: 50%;
}

.img1
{
    margin-top: 30px;
    float: right;
    margin-right: 30px;
  width: 440px;
  height: 330px;
}





.container1
{
  background-color: #faa7cf;
}

.title1
{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.title2

{
margin-left: 10px;

}

.title3
{

margin-left: 10px;
}
.title4

{
margin-left: 10px;

}



.section1
{
   margin-left: 30px;
   margin-right: 30px;
   margin-top:20px ;
   margin-bottom:20Ppx ;
  border: 3px solid black;
  background-color: #ecf7b7;
  
}

.section2
{
   
  border: 3px solid black;
  background-color: #e3f0a8;
  margin-left: 30px;
   margin-right: 30px;
   margin-top:20px ;
   margin-bottom:20Ppx ;
}

.section3
{
   
  border: 3px solid black;
  background-color: #e3f29d;
  margin-left: 30px;
   margin-right: 30px;
   margin-top:20px ;
   margin-bottom:20Ppx ;
}

.para1
{
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;


}

.para2
{
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;

}
.para3
{
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;

}






.sec{

  margin-top: 20px;
  
  }
  
  .container2
  {
    background-color: #222f3e;
    color: #fff;
    min-height: 100vh;
    font-family: tahoma;
  }
  
  .section4
  {
  
    width: 90%;
    margin: 0 auto;
  }
  
  .section4 > h1
  {
  font-weight: 300px !important;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 60px;
  font-size: 3em;
  
  }

  
#im1
{

  width: 300px;
  height: 300px;
}


#im2
{

  width: 300px;
  height: 300px;
}

.container2
{
width: 90%;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: 0 auto;

}

.services1
{

  margin-top: 30px;
}

.service1
{
  background-color: #282830;
  margin: 10px;
  padding: 35px 15px;
  text-align: center;
  overflow: hidden;
  position: relative;
  transition: background-color 0.3s ease-in,
        transform 0.3s ease-in;

  width: 249.9px;


}

.service1 >ul
{
  justify-content: justify;
}

.service1:hover
{
  background-color: #e14460;
  transform: translateY(-3px);

}

.service1::before
{

  content: "";
  top: -35px;
  position: absolute;
  right: -40px;
  border-width: 20px;
  border-style: solid;
  background-color: #222f3e rgba(0, 0, 0,0.4) #2c4159c9;
  transition: right 0.3s ease-out,;

}
.service1:hover::before
{

  top: 0;
  right: 0;

}

.service1 > .justify-content
{

  display: inline-block;
  color: tomato;
  font-size: 3.5em;
  margin-bottom: 0.7em;
  transition: color 0.3s ease-out;

}

.service1 > .title5
{

  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.55em;
  margin-bottom: 1.2em;
  text-transform: uppercase;
  transition: color 0.3s ease-out;


}
.service1 > .para4
{

  line-height: 1.55em;
  margin: 0;
  transition: color 0.3s ease-out;

}

.service1 :hover > .icon,
.service1 :hover > .title5,
.service1 :hover > .para4

{

  color: #fff;
}
