.section
{
    min-height: 100vh;
    padding: 1rem 9%;
    padding-top: 8rem;
}

.home
{
    background: url(images/world.jpg) no-repeat;
    background-size: cover;
    background-position:center;
    position: relative;
    width: 100%;
    height: 80vh;
}

.home .content
{
    text-align: center;
    padding-top: 10rem;
}

.home .content h1
{
    font-size: 4rem;
    color: #676b3b;
}

.home .content p
{
    font-size: 2rem;
    color: #676b3b;
    font-weight: normal;
}

.btn
{
    display: inline-block;
    padding: .7rem 3rem;
    color: #fff;
    background: rgb(38, 23, 80);
    border-radius: 10px;
    box-shadow: #111;
    margin-top: 1rem;
    font-size: 1.7rem;
    text-decoration: none;
}

.btn:hover
{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 20px #03e9f4,
                0 0 200px #03e9f4 ;
}