.section
{
    min-height: 100vh;
    padding: 1rem 9%;
    padding-top: 8rem;
}

.home
{
    background: url(dengueImages/m3.jpg) no-repeat;
    background-size: cover;
    background-position:center;
    position: relative;
    width: 100%;
    height: 80vh;
}

.home .cont
{
    text-align: center;
    padding-top: 10rem;
}

.home .cont h1
{
    font-size: 4rem;
    color: rgb(19, 17, 19);
}

.home .cont p
{
    font-size: 2rem;
    color: rgb(189, 15, 24);
    font-weight: normal;
}

.btn
{
    display: inline-block;
    padding: .7rem 3rem;
    color: #fff;
    background: rgb(175, 14, 175);
    border-radius: 40px;
    box-shadow: #111;
    margin-top: 1rem;
    font-size: 1.7rem;
    text-decoration: none;
}

.btn:hover
{
    background: #f4f4f8;
    color: #29ecec;
    box-shadow: 0 0 5px #1dc8f3,
                0 0 20px #076db1,
                0 0 15px #2f79e9,
                0 0 50px #074db4 ;
                
               
}

.about
{
  background:#fff;
}

.heading
{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: rgb(0, 0, 0);
}

.heading h2
{
  font-weight: 700;
  font-size: 50px;
  color:rgb(219, 107, 107);
}

.content
{
  display: flex;
  justify-content: space-between;
}

.contentBx
{
  padding-right: 50px;
}

.contentBx p
{
  font-size: 24px;
  margin-bottom: 200px;
  color: rgb(118, 167, 182);
  padding-left: 10px;
}

.w50
{
  max-width: 50%;
}

.img1
{
  max-width: 100%;
}

.services
{
  background:#2f2f30;
}

.heading .white
{
  color: #fff;
}

.services .content
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.services .content .serviceBx
{
  padding: 40px 20px;
  background: #9599a1;
  color: #111;
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
  border-radius: 5px;
}

.services .content .serviceBx:hover
{
  background: #8ea5d4;
}

.services .content .serviceBx img
{
  max-height: 90px;
  max-width: 90px;
  filter: invert(1);
}

.services .content .serviceBx h2

{
  font-size: 20px;
  font-weight: 600;
}
.mos{
  
  background:rgb(215, 118, 228);
}
.img2
{
  max-width: 100%;
}
#d3{
   max-width: 50%;
}
.mosq{
	display: flex;
}
.sym{
	margin: 0;
	padding: 0;
	background: magenta;
	font-family: sans-serif;

}
.sym .container{
	width: 1280px;
	margin: 70px auto 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.sym .container .box{
	position: relative;
	width: 300px;
	height: 300px ;
	border-radius: 30%;
	background: yellow;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;
}
.sym .container .box .imgBox
{
	position: relative;
	overflow: hidden;
}
.sym .container .box .imgBox img
{
	border-radius: 30%;
	width: 300px;
	height: 300px ;
	max-width: 100%;
	transition: transform 2s;
}
 .sym  .container .content
{
	border-radius: 30%;
	width: 190px;
	
	position: absolute;
	top: 0;
	/*background: blue;*/
	padding: 40px 20px ;
	box-sizing: border-box;
	transform-origin: left;
	transition: .5s;
	transform:perspective(600PX) rotateY(90deg);
}
.sym .container .content h1{
	margin: 10px 0 ;
	padding: 0;
	color: brown;
	font-style: 24px;
}
.sym .container:hover .content
{
	transform:perspective(600PX) rotateY(0deg) ;

}
.sym h2{
	border-radius: 20%;
	font-style: italic;
	color: black;
	background-color: yellow;
	text-align: center;
	font-family: sans-serif;
	font-size: 30px;
}
.sym h1{
	text-align: center;
	color: black;
}
.pre{
	margin: 0;
	padding: 0;
	background: black;
	font-family: sans-serif;

}
.pre .container{
	width: 1280px;
	
	
	margin: 70px auto 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.pre .container .box{
	position: relative;
	width: 300px;
	height: 300px ;
	background: yellow;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;
}
.pre .container .box .imgBox
{
	position: relative;
	overflow: hidden;
}
.pre .container .box .imgBox img
{
	max-width: 100%;
	transition: transform 2s;
}
.pre .container .box:hover .imgBox img
{
	transform: scale(1.2);

}
.pre .container .box .details
{
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	background: rgba(0, 0, 0, .8);
	transform: scaleY(0) ;
	transition: transform .5s;


}
.pre .container .box:hover .details
{
	transform: scaleY(1) ;

}
.pre .container .box .details .content
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding:15px ;
	color: black;
}
.pre .container .box .details .content h2
{
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: yellow;
}
.pre .container .box .details .content p
{
	margin: 10px 0 0;
	padding: 0;
	color: white;
	
}
.pre h1{
	color: white;
	text-align: center;
}