.section
{
    min-height: 100vh;
    padding: 1rem 9%;
    padding-top: 8rem;
}

.home
{
    background: url(Images/5.jpg) no-repeat;
    background-size: cover;
    background-position:center;
    position: relative;
    width: 100%;
    height: 80vh;
}

.home .cont
{
    text-align: center;
    padding-top: 10rem;
}

.home .cont h1
{
    font-size: 4rem;
    color: white;
}

.home .cont p
{
    font-size: 2rem;
    color: rgb(255, 241, 46);
    font-weight: normal;
}

.btn
{
    display: inline-block;
    padding: .7rem 3rem;
    color: #fff;
    background: rgb(15, 14, 15);
    border-radius: 40px;
    box-shadow: #111;
    margin-top: 1rem;
    font-size: 1.7rem;
    text-decoration: none;
}

.btn:hover
{
    background: #f4f4f8;
    color: #050801;
    box-shadow: 0 0 5px #e9eeee,
                0 0 20px #f5fafa,
                0 0 15px #e1e5e6,
                0 0 50px #e1e5e6 ;
}
.about
{
  background:#fff;
}

.heading
{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: rgb(0, 0, 0);
}

.heading h2
{
  font-weight: 700;
  font-size: 50px;
  color:rgb(219, 107, 107);
}

.content
{
  display: flex;
  justify-content: space-between;
}

.contentBx
{
  padding-right: 50px;
}

.contentBx p
{
  font-size: 24px;
  margin-bottom: 200px;
  color: rgb(118, 167, 182);
  padding-left: 10px;
}
.mainbox
{
  background: url(Images/59.jpg) no-repeat;
  background-size: cover;
  background-position:center ;
  position: relative;
  width: 100%;
  height: 110vh;
}
.heading1
{
  text-align: center;
  font-style: italic;
  font-size: 40pt;
  padding: 1rem;
}
.main
{ 
  display: inline-flex;
  align-content: center;
}

.box
{
  width: 350px;
  height: 600px;
  background-color: gray;
  float: left;
  border: 1px solid black;
  padding: 40px;
  margin: 10px;
  text-align: center;
  box-shadow: black;
}

.heading2 
{
  text-align: center;
  font-style: italic;
  font-size: 40pt;
  text-shadow: black;
  padding: 1rem;
  color: magenta;
}

.img
{
  max-width: 100%;
}
.sym{
  margin: 0;
  padding: 0;
  background: white;
  font-family: sans-serif;

}
.sym1
{
  width: 1280px;
  margin: 70px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.box3{
  position: relative;
  width: 300px;
  height: 300px ;
  margin: 10px;
  box-sizing: border-box;
}

.h1{
  color: black;
  text-align: center;
}


.heading3
{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: rgb(15, 15, 15);
  font-size: 3rem;
}
.w50
{
  max-width: 50%;
}
.pre
{
  margin: 0;
  padding: 0;
  background: black;
  font-family: sans-serif;
}
.prebox
{
  width: 1280px;
  margin: 70px auto 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.prebox1
{
  position: relative;
  width: 300px;
  height: 300px;
  background: yellow;
  margin: 1px;
  box-sizing: border-box;
  display: inline-block;
}
.prebox2
{
  position: relative;
  width: 300px;
  height: 300px;
  background: white;
  margin: 1px;
  box-sizing: border-box;
  display: inline-block;
}






