*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

section
{
  padding: 100px;
}

.banner
{
  position: relative;
  min-height: 100vh;
  background:url(images/Background.jpg);
  background-size: cover;
  background-position:right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner h2
{
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}

.banner p
{
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}

.btn
{
  position: relative;
  background:#F4EDED;
  display: inline-block;
  color: #111;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration:none;
  letter-spacing: 2px;
  font-weight: 500;
  border-radius: 10px;
}

.btn:hover{

background: #111;
color: #FFFFFF;
}

.about
{
  background:#fff;
}

.heading
{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #111;
}

.heading h2
{
  font-weight: 600;
  font-size: 30px;
  color:#111;
}


.content
{
  display: flex;
  justify-content: space-between;

}

.contentBx
{
  padding-right: 30px;
}

.contentBx p
{
  font-size: 24px;
  margin-bottom: 10px;
  color: #111;
}

.w50
{
  min-width: 50%;
}

img
{
  max-width: 100%;
}

.services
{
  background:#2f2f30;
}

.heading .white
{
  color: #fff;
}

.services .content
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.services .content .serviceBx
{
  padding: 40px 20px;
  background: #9599a1;
  color: #111;
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
  border-radius: 5px;
}

.services .content .serviceBx:hover
{
  background: #8ea5d4;
}

.services .content .serviceBx img
{
  max-height: 90px;
  max-width: 90px;
  filter: invert(1);
}

.services .content .serviceBx h2

{
  font-size: 20px;
  font-weight: 600;
}