*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.section
{
    min-height: 100vh;
    padding: 1rem 9%;
    padding-top: 8rem;
}

.home
{
    background: url(images/kidney.jpg) no-repeat;
    background-size: cover;
    background-position:center;
    position: relative;
    width: 100%;
    height: 80vh;
}

.home .cont
{
    text-align: center;
    padding-top: 10rem;
}

.home .cont h1
{
    font-size: 4rem;
    color: #fff;
}

.home .cont p
{
    font-size: 2rem;
    color: rgb(255, 241, 46);
    font-weight: normal;
}

.btn
{
    display: inline-block;
    padding: .7rem 3rem;
    color: #fff;
    background: rgb(15, 14, 15);
    border-radius: 40px;
    box-shadow: #111;
    margin-top: 1rem;
    font-size: 1.7rem;
    text-decoration: none;
}

.btn:hover
{
    background: #f4f4f8;
    color: #050801;
    box-shadow: 0 0 5px #e9eeee,
                0 0 20px #f5fafa,
                0 0 15px #e1e5e6,
                0 0 50px #e1e5e6 ;
}

.about
{
  background:#fff;
}
.abc
{
  background:rgb(109, 101, 101);
}

.abcd
{
  background:rgb(255, 255, 255);
}

.abcde
{
  background:rgb(109, 101, 101);
}

.heading
{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: rgb(0, 0, 0);
}

.heading h2
{
  font-weight: 700;
  font-size: 50px;
  color:rgb(219, 107, 107);
}

.content
{
  display: flex;
  justify-content: space-between;
}

.contentBx
{
  padding-right: 50px;
}

.contentBx p
{
  font-size: 24px;
  margin-bottom: 100px;
  color: rgb(0, 0, 0);
  padding-left: 10px;
}

.w50
{
  max-width: 50%;
}

.img1
{
  max-width: 100%;
}

.services
{
  background:#2f2f30;
}

.heading .white
{
  color: #fff;
}

.services .content
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.services .content .serviceBx
{
  padding: 40px 20px;
  background: #9599a1;
  color: #111;
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
  border-radius: 5px;
}

.services .content .serviceBx:hover
{
  background: #8ea5d4;
}

.services .content .serviceBx img
{
  max-height: 90px;
  max-width: 90px;
  filter: invert(1);
}

.services .content .serviceBx h2

{
  font-size: 20px;
  font-weight: 600;
}
.function
{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: rgb(0, 0, 0);
}

.function h2
{
  font-weight: 700;
  font-size: 50px;
  color:rgb(255, 255, 255);
}

.para
{
  display: flex;
  justify-content: space-between;
}

.paraBx
{
  padding-right: 50px;
}

.paraBx p
{
  font-size: 28px;
  margin-bottom: 50px;
  color: rgb(255, 255, 255);
  padding-left: 20px;
}
.Treatments
{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: rgb(0, 0, 0);
}

.Treatments h2
{
  font-weight: 700;
  font-size: 50px;
  color:rgb(0, 0, 0);
}

.w60
{
  max-width: 50%;
  margin-bottom: 20px;
}

.img2
{
  max-width: 75%;
}
.para1
{
  display: flex;
  justify-content: space-between;
}

.para1Bx
{
  padding-right: 50px;
}

.para1Bx ul
{
  font-size: 28px;
  margin-bottom: 50px;
  color: rgb(0, 0, 0);
  padding-left: 20px;
}

.Symptoms
{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: rgb(0, 0, 0);
}

.Symptoms h2
{
  font-weight: 700;
  font-size: 50px;
  color:rgb(255, 255, 255);
}

.w70
{
  max-width: 50%;
}

.img3
{
  max-width: 100%;
}
.para2
{
  display: flex;
  justify-content: space-between;
}

.para2Bx
{
  padding-right: 50px;
}

.para2Bx ul
{
  font-size: 30px;
  margin-bottom: 50px;
  color: rgb(255, 255, 255);
  padding-left: 20px;
}

.para2Bx ul li
{
  margin-left: 20px;
  margin-top: 20px;
  padding-top: 10px;
}


.aabb
{
  background: url(Images/katie-smith-uQs1802D0CQ-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position:center ;
  background-attachment: fixed;
}

.para3
{
  display: flex;
  justify-content: space-between;
}

.para3Bx
{
  padding-right: 50px;
}

.para3Bx ul
{
  font-size: 28px;
  margin-bottom: 50px;
  color: rgb(255, 255, 255);
  padding-left: 20px;
  margin-left: 30px;
}

.para3Bx ul li
{
  margin-bottom: 20px;
}

.prevent
{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: rgb(0, 0, 0);
}

.prevent h2
{
  font-weight: 700;
  font-size: 50px;
  color:rgb(255, 255, 255);
}

.para1Bx ul li
{
  margin-bottom: 20px;
}

@media (max-width: 991px)
{
  section 
  {
      padding: 100px 50px;
  }

  .banner
  {
      padding: 150px 50px 100px;
  }

  .banner h2
  {
      font-size: 2.5em;
  }

  .banner h3
  {
      font-size: 1em;
  }

  .btn
  {
      margin-top: 10px;
      padding: 20px 40px;
      font-size: 26px;
  }

  .heading h2
  {
      font-size: 40px;
  }

  .contentBx p
  {
      font-size: 20px;
      text-align: center;
  }

  .content
  {
      flex-direction: column;
  }

  .w50
  {
      margin-bottom: 20px;
      margin-left: 30px;
      min-width: 90%;
  }

  .para
  {
    flex-direction: column;
  }

  .paraBx p
  {
      font-size: 27px;
      text-align: center;
  }

  .w60
  {
      margin-bottom: 10px;
      margin-left: 130px;
      min-width: 90%;
  }

  .para1
  {
    flex-direction: column;
  } 

  .para1Bx
  {
   padding-right: 50px;
   padding-bottom: 0;
  }

  .para1Bx ul
  {
   font-size: 28px;
   margin-bottom: 40px;
   color: rgb(0, 0, 0);
   padding-left: 20px;
  }

  .para1Bx ul li
  {
    margin-bottom: 20px;
  }

  .w70
  {
    display: none;
  }

}