*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header
{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #252627;
  box-shadow: 0 5px 25px rgb(0, 0, 0 / 20%);
  padding: 0 100px;
  transition: 0.6s;
}

header .logo
{
  color: #fff;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

header .navigation
{
  position: relative;
  line-height: 75px;
}

header .navigation .menu
{
  position: relative;
  display: flex;
  justify-content: center;
  list-style: none;
  user-select: none;
}

.menu-item > a
{
  color: #fff;
  text-decoration: none;
  margin: 20px;
  padding: 25px 15px;
  font-size: 1em;
}

.menu-item > a:hover
{
  color: #469DEF;
  transition: 0.3s;
}

.menu .sub-menu
{
  top: 74px;
  position: absolute;
  background: #252627;
  line-height: 40px;
  list-style: none;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 5px 25px rgb(0, 0, 0 / 20%);
  pointer-events: none;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s;
  transition-property: transform,opacity;
}

.menu-item:hover .sub-menu
{
  pointer-events: all;
  transform: translateY(0);
  opacity: 2;
  transition: 0.3s;
}

.menu .sub-menu .sub-item
{
  position: relative;
  padding: 7px 0;
  cursor: pointer;
  box-shadow: inset 0 -30px 5px -30px rgba(255, 255, 255, 0.2) ;
}

.menu .sub-menu .sub-item a
{
  color: #fff;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 1em;
}

.menu .sub-menu .sub-item:hover
{
  background: #4080EF;
  transition: 0.5s;
}

.close-btn
{
  position: absolute;
  background: url("Covid\ Images/close.png")no-repeat;
  width: 40px;
  height: 40px;
  background-size: 25px;
  background-position: center;
  left: 0;
  top: 0;
  margin: 25px;
  cursor: pointer;
}

/* Responsive actions */

@media (max-width: 1060px)
{
  header .navigation .menu
  {
    position: fixed;
    display: block;
    background: #252627;
    height: 100vh;
    min-width: 350px;
    top: 0;
    right: -100;
    padding: 90px 50px;
    overflow-y: auto;
  }

  .menu-item
  {
    position: relative;
  }

  .menu-item .sub-menu
  {
    opacity: 1;
    position: relative;
    top: 0;
    transform: translateX(10px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    overflow: hidden;
  }

  .menu-item:hover .sub-menu
  {
    transform: translateX(10px);
  }

  .menu-item:hover .sub-menu .sub-item
  {
    box-shadow: none;
  }

  .menu-item:hover .sub-menu .sub-item:hover
  {
    background: none;
  }

  .menu-item:hover .sub-menu .sub-item a:hover
  {
    color: #469DEF;
    transition: 0.3s;
  }
}
